{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="bg-secondary container">
    <br />
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 card">
        <br />
        <h2 class="text-center">Todo app</h2>
        <br />
        <form method="POST" action="/">
          {% csrf_token %}
          {% render_field form.title placeholder='title:' class='form-control' %}
          <br />
          <button type="submit" name="Create Task" class="btn btn-success">Add Task</button>
        </form>
      </div>
      <div class="col-md-3"></div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 card">
        <br />
        <ul class="list-group">
          {% for task in tasks %}
            {% if not task.complete %}
              <li class="list-group-item d-flex flex-row align-items-center justify-content-between">
                <span>{{ task.title }}</span>
                <div class="d-flex flex-row">
                  <button class="mx-1 btn btn-secondary"><a href="/update_task/{{task.id}}" class="text-decoration-none text-white">Edit</a></button>
                  <button class="mx-1 btn btn-success"><a href="/complete_task/{{task.id}}" class="text-decoration-none text-white">Complete</a></button>
                  <button class="mx-1 btn btn-danger"><a href="/remove_task/{{ task.id }}" class="text-decoration-none text-white">Remove</a></button>
                </div>
              </li>
            {% else %}
              <li class="list-group-item d-flex flex-row align-items-center justify-content-between bg-success">
                <span><del>{{ task.title }}</del></span>
                <div class="d-flex flex-row">
                  <button class="mx-1 btn btn-secondary"><a href="/update_task/{{task.id}}" class="text-decoration-none text-white">Edit</a></button>
                  <button class="mx-1 btn btn-light"><a href="/complete_task/{{ task.id }}" class="text-decoration-none text-dark">Complete</a></button>
                  <button class="mx-1 btn btn-danger"><a href="/remove_task/{{ task.id }}" class="text-decoration-none text-white">Remove</a></button>
                </div>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
        <br />
      </div>
      <div class="col-md-3"></div>
    </div>
  </body>
</html>
